<p>display-details works!</p><br>
<button (click)="onClick()">Display details</button>
<p *ngIf="isShown">Tiesitkö että "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente vel temporibus illo dolor sit placeat quia ad amet cumque facilis, alias earum corrupti ex optio repellendus maiores aperiam ut inventore"?</p>
<p *ngFor="let item of timeStamps; let i = index" [ngClass]="{'white': i > 3}">{{ item }}</p>

<!-- <p *ngIf="timeStampAdded">Time: {{ getTimeStamp() }}</p>
<p *ngFor="let timeStamp of timeStamps"></p> -->